@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --font: "Press Start 2P", "Arial", "Helvetica", "Sans-serif";
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: var(--font);
}

canvas {
    background-color: black;
    border: 1px solid white;
    height: 500px;
    width: 500px;
    max-width: 90vw;
    max-height: 90vw;
}

div.menu-gameover {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    background-color: rgba(0, 0, 0, 0.486);
    height: 100vh;
    width: 100vw;
    font-size: 1.5em;
    z-index: 1;
}

button.btn-start {
    font-size: 1.25em;
    background-color: rgba(44, 44, 44, 0.897);
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none;
    width: 250px;
}

button.btn-start:hover {
    cursor: pointer;
    background-color: rgb(75, 75, 75);
}

div.control {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    place-items: center;
    user-select: none;
    transform: translate(0px, -45px);
}

button.control:nth-child(1) {
    grid-row: 1;
    grid-column: 2;
    place-self: center;
    transform: translate(0px, 18px);
}

button.control:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
    transform: translate(18px, 0px);
}
button.control:nth-child(3) {
    grid-row: 2;
    grid-column: 3;
    place-self: center;
    transform: translate(-18px, 0px);
}

button.control:nth-child(4) {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    transform: translate(0px, -18px);
}

button.control {
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    height: 100px;
    width: 100px;
}